@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&family=Quantico&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Mplus 1p', sans-serif;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 2%;
  width: 100%;
}

.windowwwwww .toast {
  background: #F4F8FD;
  -webkit-box-shadow: 0px 2px 3px rgba(54, 62, 66, 0.15);
          box-shadow: 0px 2px 3px rgba(54, 62, 66, 0.15);
  border-radius: 2px;
  display: block;
}

.windowwwwww .toast .toast-header {
  background: #F4F8FD;
  border: none;
}

.windowwwwww .toast .toast-body {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.header .CKE {
  height: 106px;
}

.header .CKE .top_panel {
  padding: 27px 0px;
}

.header .CKE .top_panel .name_com {
  height: 52px;
}

.header .CKE .top_panel .name_com .name_com_info .card-text-1 {
  font-size: 9px;
  text-transform: uppercase;
  color: #323A49;
}

.header .CKE .top_panel .name_com .name_com_info .card-text-2 {
  font-weight: 800;
  font-size: 19px;
  text-transform: uppercase;
  color: #323A49;
}

.header .CKE .top_panel .versions .bad_vision {
  font-size: 14px;
  line-height: 21px;
  color: #275BA8;
}

.header .CKE .top_panel .versions .old_version {
  font-size: 14px;
  line-height: 21px;
  color: #275BA8;
}

.header .CKE .top_panel .internet .row .col-md-10 .card-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #323A49;
}

.header .CKE .top_panel .account .row .col-md-10 .card-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #323A49;
}

.header .navbar {
  height: 58px;
  background: #275BA8;
}

.header .navbar .navbar-nav {
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: #275BA8;
}

.header .navbar .navbar-nav .nav-item .nav-link {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header .navbar .navbar-nav .nav-item .modal .modal-dialog .modal-content .modal-header .input-group input {
  border: none;
}

.header .navbar .navbar-nav .border_menu {
  border-left: 1px solid rgba(255, 255, 255, 0.05);
}

.main .slider .carousel .carousel-inner .carousel-item .carousel-caption {
  text-align: left;
}

.main .slider .carousel .carousel-inner .carousel-item .carousel-caption .card {
  background: none;
  border: none;
}

.main .slider .carousel .carousel-inner .carousel-item .carousel-caption .card .card-body .card-title {
  font-weight: bold;
  font-size: 64px;
  line-height: 72px;
  color: #323A49;
}

.main .slider .carousel .carousel-inner .carousel-item .carousel-caption .card .card-body .card-text {
  font-size: 18px;
  line-height: 30px;
  color: #323A49;
}

.main .slider .carousel .carousel-inner .carousel-item .carousel-caption .card .card-body .btn-primary {
  border: 1px solid #2054A2;
  background: none;
  padding: 15px 61px;
  font-size: 18px;
  line-height: 21px;
  color: #275BA8;
}

.main .group_link .row .card {
  height: 140px;
  background: #F4F8FD;
  border: none;
}

.main .group_link .row .card .col-md-10 .card-body .card-text {
  font-weight: bold;
  font-size: 21px;
  line-height: 32px;
  color: #334059;
}

.main .group_link .row .card .col-md-10 .card-body .fas {
  color: #275BA8;
}

.main .slider_news .carousel .news_arrows .newstext {
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  color: #323A49;
}

.main .slider_news .carousel .news_arrows .buttons {
  position: absolute;
  right: 0px;
}

.main .slider_news .carousel .news_arrows .buttons .button_first {
  border: none;
}

.main .slider_news .carousel .news_arrows .buttons .button_second {
  border: none;
}

.main .slider_news .carousel .carousel-inner .carousel-item .card-group .card {
  background: none;
  border: none;
}

.main .slider_news .carousel .carousel-inner .carousel-item .card-group .card .card-body .card-title {
  font-size: 12px;
  line-height: 18px;
  color: #858C9C;
}

.main .slider_news .carousel .carousel-inner .carousel-item .card-group .card .card-body .card-text1 {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #323A49;
}

.main .slider_news .carousel .carousel-inner .carousel-item .card-group .card .card-body .card-text2 {
  font-size: 14px;
  line-height: 21px;
  color: #323A49;
}

.main .links .carousel .links_arrows .linktext {
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  color: #323A49;
}

.main .links .carousel .links_arrows .buttons {
  position: absolute;
  right: 0px;
}

.main .links .carousel .links_arrows .buttons .button_first {
  border: none;
}

.main .links .carousel .links_arrows .buttons .button_second {
  border: none;
}

.main .links .carousel .carousel-inner .carousel-item .card-group .card {
  height: 90px;
  border: 1px solid #E6E8EC;
}

.main .links .carousel .carousel-inner .carousel-item .card-group .card .row .col-md-10 .card-body .card-text {
  font-size: 14px;
  line-height: 21px;
  color: #323A49;
}

.footer {
  background: #F4F8FD;
}

.footer .footer_nav .nav .nav-item .main_inf {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #323A49;
}

.footer .footer_nav .nav .nav-item .additional_inf {
  font-size: 14px;
  line-height: 21px;
  color: #323A49;
}

.footer .footer_nav .nav .nav-item .nav-link {
  padding-left: 0;
  padding-right: 0;
}

.footer hr {
  color: #C7D0E2;
}

.footer .last_info .name_com .row .col-md-10 .name_com_info .card-text-1 {
  font-weight: 800;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #323A49;
}

.footer .last_info .name_com .row .col-md-10 .name_com_info .card-text-2 {
  font-size: 12px;
  line-height: 18px;
  color: #858C9C;
}

.footer .last_info .pol_inf {
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #323A49;
}

.footer .last_info .create_inf {
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  color: #858C9C;
  text-decoration: none;
}

.footer .last_info .create_inf span {
  font-size: 10px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.modal-backdrop {
  position: relative;
}

@media (max-width: 1400px) {
  .main .slider .carousel .carousel-inner .carousel-item .carousel-caption .card {
    width: 100%;
  }
  .main .slider .carousel .carousel-inner .carousel-item .carousel-caption .card .card-body .card-title {
    width: 80%;
    font-size: 30px;
    line-height: 30px;
  }
  .main .slider .carousel .carousel-inner .carousel-item .carousel-caption .card .card-body .card-text {
    width: 80%;
    font-size: 14px;
  }
  .main .slider .carousel .carousel-inner .carousel-item .carousel-caption .card .card-body .btn {
    width: 60%;
    padding: 10px;
    display: inline;
  }
}

@media (max-width: 1100px) {
  .footer .footer_nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .footer_nav .d-flex .nav_2 {
    margin: 0 150px 0 100px !important;
  }
  .footer .footer_nav .d-flex .nav_3 {
    margin-left: 0px !important;
  }
}

@media (max-width: 1075px) {
  .header .collapse .navbar-nav .nav-item .nav-link {
    font-size: 12px;
  }
}

@media (max-width: 991px) {
  .header .collapse .navbar-nav .nav-item {
    border: none;
  }
}

@media (max-width: 950px) {
  .header .CKE {
    height: auto;
  }
  .header .CKE .top_panel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .CKE .top_panel .name_com {
    width: 320px;
  }
  .header .CKE .top_panel .name_com .row {
    -ms-flex-wrap: inherit;
        flex-wrap: inherit;
  }
  .header .CKE .top_panel .name_com .row .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16%;
  }
  .header .CKE .top_panel .name_com .row .col-md-2 img {
    padding-left: 15px;
  }
  .header .CKE .top_panel .name_com .row .col-md-10 .name_com_info .card-text-1 {
    width: 240px;
  }
  .header .CKE .top_panel .name_com .row .col-md-10 .name_com_info .card-text-2 {
    width: 240px;
    font-size: 13px;
  }
  .header .CKE .top_panel .versions {
    padding: 10px 0px;
    width: auto;
  }
  .header .CKE .top_panel .internet {
    padding-bottom: 10px;
  }
  .header .CKE .top_panel .internet .row .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16%;
  }
  .header .CKE .top_panel .internet .row .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 83%;
  }
  .header .CKE .top_panel .account .row .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16%;
  }
  .header .CKE .top_panel .account .row .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 83%;
  }
  .main .slider .carousel .carousel-inner .carousel-item .carousel-caption .card .card-body .card-title {
    margin: 0px;
    width: 60%;
    font-size: 17px;
    line-height: 20px;
  }
  .main .slider .carousel .carousel-inner .carousel-item .carousel-caption .card .card-body .card-text {
    margin-bottom: 5px;
    padding: 0px !important;
    width: 60%;
    font-size: 11px;
    line-height: 10px;
  }
  .main .slider .carousel .carousel-inner .carousel-item .carousel-caption .card .card-body .btn {
    width: 40%;
    font-size: 12px;
    padding: 5px;
    display: inline;
  }
  .footer .last_info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .last_info .name_com .row .col-md-10 .name_com_info .card-text-1 {
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .main .group_link .groups {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .group_link .groups .card {
    width: 310px;
    height: 140px;
    margin-right: 0px !important;
  }
  .main .group_link .groups .card .row .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16%;
  }
  .main .group_link .groups .card .row .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }
  .main .group_link .groups .card .row .col-md-10 .card-body {
    padding-left: 0px;
    padding-right: 0px;
  }
  .main .group_link .groups .card .row .col-md-10 .card-body .card-text {
    font-size: 18px;
    line-height: 22px;
  }
  .main .group_link .groups .card .row .col-md-10 .card-body .fas {
    padding: 0px !important;
  }
}

@media (max-width: 771px) {
  .main .links .carousel .links_arrows .linktext {
    font-size: 25px;
  }
  .main .links .carousel .carousel-inner .carousel-item .card-group .card .row .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16%;
  }
  .main .links .carousel .carousel-inner .carousel-item .card-group .card .row .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }
  .main .links .carousel .carousel-inner .carousel-item .card-group .card .row .col-md-10 .card-body .card-text {
    font-size: 10px;
    line-height: 12px;
  }
}

@media (max-width: 580px) {
  .footer .footer_nav {
    margin-left: 20px;
  }
  .footer .footer_nav .d-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .footer_nav .d-flex .nav_2 {
    margin: 0 250px 0 0px !important;
  }
  .footer .footer_nav .d-flex .nav_4 {
    margin-left: 0px !important;
  }
}

@media (max-width: 500px) {
  .windowwwwww {
    width: 300px;
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
  }
  .main .slider .carousel .carousel-indicators {
    display: none;
  }
  .main .slider .carousel .carousel-inner .carousel-item .carousel-caption .card {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  .main .slider .carousel .carousel-inner .carousel-item .carousel-caption .card .card-body {
    padding: 0px;
  }
  .main .slider .carousel .carousel-inner .carousel-item .carousel-caption .card .card-body .card-title {
    font-size: 12px;
    line-height: 12px;
  }
  .main .slider .carousel .carousel-inner .carousel-item .carousel-caption .card .card-body .card-text {
    margin-bottom: 0px;
    font-size: 8px;
    line-height: 7px;
  }
  .main .slider .carousel .carousel-inner .carousel-item .carousel-caption .card .card-body .btn {
    font-size: 8px;
    padding: 3px;
  }
}

@media (max-width: 370px) {
  .footer .footer_nav .d-flex .nav_2 {
    margin: 0px !important;
  }
}
/*# sourceMappingURL=style.css.map */